<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>采购录入页</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="/assets/css/main.css" rel="stylesheet" />

</head>
<body>
  <center>
    <div><img src="/assets/images/photo1.jpg" class="big-img"></div>
    <div><img src="/assets/images/photo2.jpg" class="big-img"></div>
    <h2 class="title">浙江衡量科技有限公司</h2>
    <form action="/add" method="POST">
        <p class="info">请输入你的信息</p>
        <div class="line-wrap">
            <label for="user">
                <img src="/assets/images/pic1.png" class="small-img">&nbsp;&nbsp;姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
            <input type="text" name="user" id="user" placeholder="请输入姓名" required>
        </div>
        <br/>
        <div class="line-wrap">

        <label for="company"><img src="/assets/images/pic2.png" class="small-img">&nbsp;&nbsp;工作单位</label>
        <input type="text" name="company" id="company" placeholder="请输入单位" required>
        </div>
        <br/>
        <div class="line-wrap">
        <label for="tel"><img src="/assets/images/pic3.png" class="small-img">&nbsp;&nbsp;电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>
        <input type="text" name="tel" id="tel" placeholder="请输入电话" required>
        </div>
        <br/>
        <div class="line-wrap">
        <label for="purchase_num"><img src="/assets/images/pic4.png" class="small-img">&nbsp;&nbsp;采购数目</label>
        <input type="text" name="purchase_num" id="purchase_num" placeholder="请输入数目" required>
        </div>
        <br/> 
        <div class="line-wrap">
        <label for="purchase_time"><img src="/assets/images/pic5.png" class="small-img" >&nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期</label>
        <input type="date" name="purchase_time" id="purchase_time" placeholder="请输入日期" required>
        </div>
        <br>
        <button type="submit" name="" id="">点击提交</button>
        <br>
        <br>
    </div>
    </form>

</center>
<script src="/assets/js/common.js"></script> 
</body>
</html>